 <div class="row">
        <div class="col s12 " *ngFor="let list of this.toDoService.getTaskOnArchieve()">
          <div class="card ">
            <div class="card-content ">
              <div class="card-title pull-left" [innerHTML]='list.value'></div>
              <div class="">
                <span class="arc-icon">
                  <i class="small material-icons" (click)="delete(list)">delete</i>
                </span>
                <span class="arc-icon">
                  <i class="small material-icons" (click)="restore(list)">restore</i>
                </span>
              </div>
              
            </div>
            <div class="card-action">
              <span class="">
                <i class="small material-icons pull-left">query_builder</i>
                <span>Start Date : {{list.startDate | date:'medium'}}</span> 
              </span>

              <span class="">
                 <span class="pull-right">End Date : {{list.endDate | date:'medium'}}</span>
                <i class="small material-icons pull-right">query_builder</i> 
              </span>
            </div>
          </div>
        </div>
      </div>  