 <div class="row">
        <div class="col s6 " *ngFor="let list of this.getArchieve()">
          <div class="card ">
            <div class="card-content ">
              <div class="card-title pull-left" [innerHTML]='list.value'></div>
              <div class="">
                <span class="arc-icon">
                  <i class="small material-icons" (click)="delete(list)">delete</i>
                </span>
                <span class="arc-icon">
                  <i class="small material-icons" (click)="restore(list)">restore</i>
                </span>
              </div>
              
            </div>
            <div class="card-action">
              <div class="">
                <i class="small material-icons ">query_builder</i>
                <span class="date">Start Date : {{list.startDate | date:'medium'}}</span> 
              </div>

              <div class="">
                <i class="small material-icons ">query_builder</i> 
                 <span class="date">End Date : {{list.endDate | date:'medium'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>  