 <div class="row">
     <div class="input-field">
          <input id="search" type="search" required #search (keyup)="onKeyUp(search.value)">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
      </div>
        <div class="clear-fix" *ngFor="let card of archiveList$ | async">
          <div *ngIf="this.checkTask(card)" style="overflow: auto;">
          <div class="pull-left">
             <h4  [innerHtml]="card.value"></h4>
          </div>
            <div class="pull-right" style=" padding-top: 16px; padding-bottom: 16px;">
              <a class="waves-effect waves-light btn ">Delete</a>
            </div>
          </div>
          <div class="card col s6" *ngFor="let list of this.getArchieve(card.todolist)">
            <div class="card-content ">
              <div class="card-title pull-left" [innerHTML]='list.value'></div>
              <div class="">
                <span class="arc-icon">
                  <i class="small material-icons" (click)="delete(card,list)">delete</i>
                </span>
                <span class="arc-icon" style="margin-left: 25px;">
                  <i class="small material-icons" (click)="restore(card,list)">restore</i>
                </span>
              </div>
              
            </div>
            <div class="card-action">
              <div class="">
                <i class="small material-icons ">query_builder</i>
                <span class="date">Start Date : {{list.startDate | date:'medium'}}</span> 
              </div>

              <div class="">
                <i class="small material-icons ">query_builder</i> 
                 <span class="date">End Date : {{list.endDate | date:'medium'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>  