<div class='add-btn'>  
  <a class="btn-floating btn-large waves-effect waves-light red" (click)="openModal()"><i class="material-icons">add</i></a>

  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions" >
    <div class="modal-content">
      <h4>Create new list</h4>
        <div class="input-field col s12">
          <input placeholder="Enter Title Here" id='add_title' #add_title type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <input placeholder="Enter Category" id='add_category' #add_category type="text" class="validate">
        </div>
    </div>
    <div class="modal-footer">
      <a  class="modal-action modal-close waves-effect waves-green btn-flat"  (click)="closeModal(); createToDoList(add_title.value,add_category.value);">OK</a>
      <a  class="modal-action modal-close waves-effect waves-green btn-flat"  (click)="closeModal(); createToDoList(add_title.value,add_category.value);">Cancel</a>
    </div>
  </div>
</div>


  <div class="row">
    <app-todo-list title="Project" [checkList]="this.getTaskByCategory('project')" (addedNewList)="addToDoList($event,'project')" (modifyList)="moveToArchieve($event)"></app-todo-list>
    <app-todo-list title="Personal" [checkList]="this.getTaskByCategory('personal')" (addedNewList)="addToDoList($event,'personal')" (modifyList)="moveToArchieve($event)" ></app-todo-list>
    <!--app-todo-list *ngFor="let comp of createParentCard" ></app-todo-list-->
</div>

