<!--<div class='add-btn'>  
  <a class="btn-floating btn-large waves-effect waves-light red" (click)="showAddPopUp()"><i class="material-icons">add</i></a>

  <div id="modal1" class="modal" [class.show]='isAddPopUpEnabled'>
    <div class="modal-content">
      <h4>Modal Header</h4>
        <div class="input-field col s12">
          <input placeholder="Enter Title Here" id='add_title' #add_title type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <input placeholder="Enter Category" id='add_category' #add_category type="text" class="validate">
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [class.modal-close]='isAddPopUpEnabled' (click)="showAddPopUp(); createToDoList(add_title.value,add_category.value);">OK</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" [class.modal-close]='isAddPopUpEnabled' (click)="showAddPopUp(); createToDoList(add_title.value,add_category.value);">Cancel</a>
    </div>
  </div>
</div>-->

  <div class="row">
    <app-todo-list title="Project" [checkList]="this.getTaskByCategory('project')" (addedNewList)="addToDoList($event,'project')" (modifyList)="moveToArchieve($event)"></app-todo-list>
    <app-todo-list title="Personal" [checkList]="this.getTaskByCategory('personal')" (addedNewList)="addToDoList($event,'personal')" (modifyList)="moveToArchieve($event)" ></app-todo-list>
    <app-todo-list *ngFor="let comp of todo" ></app-todo-list>
</div>

